---
title: "All Stories"
description: "Find all published stories with their tags"
layout: page
permalink: /stories/
---

<ul class="tag-cloud">
{% for category in site.categories %}
  <li style="font-size: {{ tag | last | size | times: 1000 | divided_by: site.categories.size | plus: 100  }}%">
    <a href="#{{ category | first | slugize }}">
      {{ category | first }}
    </a>
  </li>
{% endfor %}
{% for tag in site.tags %}
  <li style="font-size: {{ tag | last | size | times: 1000 | divided_by: site.tags.size | plus: 100  }}%">
    <a href="#{{ tag | first | slugize }}">
      {{ tag | first }}
    </a>
  </li>
{% endfor %}
</ul>

<hr>

<div id="archives">
  {% for category in site.categories %}
    <div class="archive-group">
      {% capture tag_name %}{{ category | first }}{% endcapture %}
      <h3 id="#{{ tag_name | slugize }}">{{ tag_name }}</h3>
      <a name="{{ tag_name | slugize }}"></a>
      {% for post in site.categories[tag_name] %}
      <p><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></p>
      {% endfor %}
    </div>
  {% endfor %}
  {% for tag in site.tags %}
    <div class="archive-group">
      {% capture tag_name %}{{ tag | first }}{% endcapture %}
      <h3 id="#{{ tag_name | slugize }}">{{ tag_name }}</h3>
      <a name="{{ tag_name | slugize }}"></a>
      {% for post in site.tags[tag_name] %}
      <p><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></p>
      {% endfor %}
    </div>
  {% endfor %}
</div>