---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: {% if page.header-overlay %} url('/img/grey-overlay.png'), {% endif %} url('{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}{% if page.redirect != null %} ➦{% endif %}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Published on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        {% if page.redirect != null %}
          <p>This post originates from <a href="{{ page.redirect }}" target="_blank">{{ page.redirect }}</a></p>
          <p><a href="{{ page.redirect }}" target="_blank">Read more ➦</a></p>
        {% endif %}

				{{ content }}

                <hr>

                {% include post-tags.html %}

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Previous Post">&larr; {{page.previous.title}}</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Next Post">{{page.next.title}} &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

                <!-- Adsense-->
                <div class="ads">
                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- Just2me.com -->
                  <ins class="adsbygoogle"
                       style="display:block"
                       data-ad-client="{{ site.adsense_client }}"
                       data-ad-slot="{{ site.adsense_slot }}"
                       data-ad-format="auto"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>

                <!-- Disqus -->
                {%if site.disqus %}
                <hr>

                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_shortname = '{{site.disqus}}';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                {% endif %}

            </div>
        </div>
    </div>
</article>

<hr>